# Worker
REPOS_DIR=../repos/
REDIS_HOST=localhost
REDIS_PORT=6379

# API
ALLOWED_DOMAINS=*

# SQLite Db
SQLITE_DB=/data/audits.sqlite

# API protection token, generate with openssl rand -base64 32
API_TOKEN=d5XLTGRzB/ZS0nIFWjPnrqbtdL+7cVOjGgAUWkdtrf8=